:root{
  --almost-white: hsl(0, 0%, 83%);
  --nav-accent: hsl(24, 55%, 43%);
  --nav-bg: hsla(0, 0%, 8%, 0.651);
}

* {
  transition: 0.7s;
}

.nav {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  align-items: start;
  justify-content: center;
  height: 100vh;
  width: 15vw;
  padding: 2rem;
  background-color: var(--nav-bg);
  z-index: 1;
}

.ham {
  display: none;
}

.navlist {
  margin-top: 10vh;
  list-style-type: none;
  font-size: x-large;
}

.navlist > li:first-child {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 3px solid var(--nav-accent);
}

.navlist > li > a:link {
  color: var(--almost-white);
  text-decoration: none;
}

.navlist > li > a:visited {
  color: var(--almost-white);
}

.navlist > li > a:hover {
  color: var(--almost-white);
  text-decoration: underline var(--nav-accent);
}

@media screen and (max-width: 600px) {
  .nav {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ham {
    display: block;
    position: absolute;
    top: 5vh;
    left: 6vw;
    cursor: pointer;
    width: 52px;
    height: 20px;
    padding: auto;
  }

  .bar {
    position: absolute;
    width: 42px;
    padding: 0.2rem;
    background-color: var(--nav-accent);
    border-radius: 30px;
    z-index: 99999;
  }

  .navlist {
    margin-left: -1000px;
  }

  /* hamburger toggle css styling */
  .openBar1 {
    transform: rotate(45deg) translate(15px, 20px);
  }

  .openBar2 {
    transform: rotate(135deg) translate(5px, 1px);
  }

  .menuList {
    margin-left: 3vw;
  }

  .toggleNav {
    width: 100vw;
    background-color: rgba(21, 21, 21, 0.76);
  }
}
